body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    line-height: 1.4;
    overflow-x: hidden;
}

.btn {
    background-color: rgba(229, 49, 110, 1);
    border-radius: 100px;
    border: none;
    padding: 1.25rem 3.5rem;
    color: white;
    font-size: 1.1rem;
}

.main-wrapper {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 370px;
    max-width: 90%;
    margin: 0 auto;
    padding: 30px 50px 50px 50px;
    box-shadow: 6px 10px 30px #888888;
    background-color: rgba(255, 255, 255, 0.9);
}

/* paint splashes background */

.fleka {
    position: absolute;
    z-index: -1;
}

#crvena {
    top: 900px;
    left: 75px;
}

#plava-card {
    top: 1100px;
    left: 50px;
}

#plava-card2 {
    top: 1500px;
    right: -200px;
}

#crvena-op {
    top: 2200px;
    left: 90px;
    ;
}

#big-blue {
    top: 3000px;
    left: -300px;
}

#plava-bottom {
    top: 3800px;
}

#crvena-op2 {
    top: 3100px;
    right: 30px;
}

/* paint splashes end */

.main-nav {
    justify-self: right;
    padding-right: 30px;
}

#logo-wrap {
    justify-self: left;
}

.nav-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 40px;
}

.main-nav ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    list-style: none;
    padding: 0;
}

.main-nav ul li a {
    text-decoration: none;
    color: gray;
    font-size: 1.1rem;
}

#login {
    color: #222529;
}

#signup {
    color: rgba(229, 49, 110, 1);
}

/* Navigation-ends */

/* Section - A */

.section {
    margin-top: -240px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    justify-items: left;
    align-items: center;
}

.left-a {
    max-width: 600px;
    justify-self: right;
}

.image {
    max-width: 100%;
    min-width: 400px;
    height: auto;
}

h1 {
    font-size: 4rem;
    font-weight: 300;
    color: rgba(34, 50, 66, 1);
    text-align: left;
    margin-bottom: 1rem;
}

h3 {
    font-size: 2.8rem;
    margin-top: 40px;
    margin-bottom: 17px;
    color: #223242;
    font-weight: 300;
}

p {
    font-size: 1.1rem;
    color: rgba(101, 119, 131, 1);
    margin-bottom: 2.5rem;
}

/* Section - b cards */

.section-b {
    margin-top: 150px;
}

.card-left, .card-right {
    box-sizing: border-box;
    display: grid;
    justify-items: center;
    border: 1px solid black;
    max-width: 600px;
    min-width: 300px;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 3px 20px #888888;
    background-color: white
}

.card-left {
    justify-self: right;
    padding: 40px 40px;
}

.card-right {
    justify-self: left;
    padding: 40px 40px;
}

.card img {
    justify-self: center;
}

.card a {
    text-decoration: none;
    color: #E5316E;
}

/* section c */

.section-c, .section-d {
    margin-top: 150px;
}

.left-c {
    max-width: 600px;
    justify-self: right;
}

.section-d img {
    max-width: 100%;
    justify-self: center;
}

.right-d {
    max-width: 600px;
}

/* Footer-starts */

footer {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    border-radius: 100px;
    border: none;
    background-color: rgba(50, 156, 227, 0.04);
}

h5 {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

footer p {
    font-size: 1.1rem;
    margin: 20px;
    margin-left: 0px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer a {
    text-decoration: none;
    color: rgba(101, 119, 131, 1);
}

footer li {
    padding-top: 20px;
}

.copyright {
    max-width: 428px;
    padding-left: 70px;
}

.minus {
    padding-top: 0px;
}

/* Media Queries */

@media (max-width: 1027px) {
    .nav-wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        grid-gap: 10px;
    }
    .main-nav {
        justify-self: right;
        padding-right: 0px;
    }
    /* A */
    .section {
        margin-top: -240px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        justify-items: left;
        align-items: center;
    }
    .image {
        max-width: 100%;
        min-width: 360px;
        height: auto;
    }
    h1 {
        font-size: 2.3rem;
    }
    h3 {
        font-size: 2rem;
    }
    /* Cards */
    .card-img {
        min-width: 220px;
    }
    footer {
        margin-top: -100px;
        justify-items: center;
        text-align: left;
        grid-template-columns: 1fr 1fr 1fr;
    }
    footer .contact p {
        margin-right: 0;
    }
    #plava-bottom {
        display: none;
    }
}

/* mobile */

@media (max-width: 768px) {
    .section {
        margin-top: -270px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        justify-items: center;
        align-items: center;
        text-align: center;
    }

    .section-a {
        margin-top: -330px;
    }
    .nav-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        grid-gap: 10px;
    }
    .main-nav {
        justify-self: center;
        padding-right: 0px;
    }
    #logo-wrap {
        justify-self: center;
    }
    .main-wrapper {
        box-sizing: border-box;
        display: grid;
        grid-template-rows: 1fr;
        grid-gap: 370px;
        max-width: 100%;
        margin: 0;
        padding: 20px 0px 50px 0px;
        box-shadow: none;
        background-color: rgba(255, 255, 255, 0.9);

    }
    .image {
        max-width: 70%;
        min-width: 360px;
        height: auto;
    }
    div .left-a {
        justify-self: center;
    }
    h1 {
        text-align: center;
        font-weight: bold;
    }

    h5 {
        font-size: 0.9rem;
    }
    #laptop{

        width: 300px;
    }

    .card {
        justify-self: center;
    }
    .main-nav ul li a {
        font-size: 1rem;
    }
    #plava-card2, #plava-card {
        display: none;
    }
    footer {
        margin-top: -100px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        border-radius: 100px;
        border: none;
        background-color: rgba(50, 156, 227, 0.04);
    }

    footer p {
        margin-right: 0px;
        font-size: 0.7rem;
        
    }
    footer .copyright {
        padding-left: 30px;
    }

    footer a {
        font-size: 0.7rem;
    }
}